.banner-outer {
  position: relative;
  width: 100%;
  height: 7.5rem;
  overflow: hidden;
}

.banner-inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: max-content;
  animation: seamless-scroll 25s linear infinite;
}

.banner-img {
  height: 6rem;
  width: auto;
  object-fit: contain;
  padding-right: 4.5rem;
  opacity: 1;
}

@keyframes seamless-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
} 