@import "tailwindcss";
@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter/Inter-VariableFont.ttf);
}
@font-face {
  font-family: 'Manrope';
  src: url(./fonts/Manrope/Manrope-VariableFont.ttf);
}
:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #FFFFFF;
  --header-footer-color: #F7F7F7;
  --primary-color: #7A7979;
  --secondary-color: #484848;
  --accent-color-1: #000000;
  --accent-color-2: #FFC100;
}

form>p {
  font-family: 'Inter';
  font-size: 18px;
  color: var(--secondary-color);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.popup-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: transparent !important;
  animation: fadeIn 0.3s;
}

.step-semicircle-container {
  position: fixed;
  right: -50vh;
  top: 50%;
  width: 100vh;
  height: 100vh;
  transform: translateY(-50%);
  z-index: 10;
  pointer-events: none;
  overflow: visible;
}

.step-semicircle {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}

.step-label {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 110px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: #4a6bff;
  border-radius: 25px;
  opacity: 0.7;
  transition: font-size 0.5s, opacity 0.5s, background 0.5s, color 0.5s, transform 0.8s;
  z-index: 1;
  pointer-events: none;
}

.step-label.active {
  font-size: 2rem;
  opacity: 1;
  background: #FFC100;
  color: #484848;
  z-index: 2;
  box-shadow: 0 0 40px 10px #FFC10044;
}

.revolver-label {
  transition: font-size 0.2s, font-weight 0.2s, transform 0.6s cubic-bezier(0.77,0,0.175,1) !important;
  will-change: transform;
}
.revolver-label:hover {
  transform: scale(1.2) !important;
}

.revolver-label-vanilla {
  transition: transform 0.6s cubic-bezier(0.77,0,0.175,1) !important;
}

@media (max-width: 900px) {
  .step-semicircle-container {
    width: 100vw;
    height: 100vw;
    right: 0;
  }
}

@keyframes seamless-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% / 5));
    /* Move by one segment */
  }
}

.animate-seamless-scroll {
  animation: seamless-scroll 8s linear infinite;
  width: calc(100% * 5);
}